*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

header{
    margin-bottom: 3rem;
    text-align: right;
    padding: 1rem 0;
}

.ms_page_alignment{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* FORM */

.form-select{
    display: inline-block;
    width: 10%;
}

/* BOXES */

.ms_box_container{
    height: 600px;
    width: 600px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.box{
    background-color: lightcoral;
    border: 2px solid black;
}
.box.size{
    display: flex;
    align-items: center;
    justify-content: center;
}

.easy{
    height: calc(100% / 8);
    width: calc(100% / 8);
}

.hard{
    height: calc(100% / 8);
    width: calc(100% / 8);
}

.crazy{
    height: calc(100% / 8);
    width: calc(100% / 8);
}